@import "./global.scss";
@import "./mixins.scss";
@import "./variables.scss";

.container {
    font-weight: bold;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}
