@import "./global.scss";
@import "./mixins.scss";
@import "./variables.scss";

.container {
    font-weight: bold;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

.interaction {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.loadingOutline {
    outline: 4px solid blue;
    border-radius: 2em;
}
