@import "./global.scss";
@import "./mixins.scss";
@import "./variables.scss";

.container {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    margin-bottom: 1em;

    button {
        font-size: 1.5rem;
        margin: 0 0.35em;
    }
}

.interaction {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.loadingOutline {
    outline: 4px solid blue;
    border-radius: 2em;
}
